.social_links{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 20em;
  left: 25px;
  z-index: 10;
}

.social_links::after {
    content: "";
    width: 1px;
    height: 100px;
    background-color:rgb(28, 86, 109);
  }

.social_icon{
  font-size: 25px;
  color:rgb(28, 86, 109);
    
}
.social_icon:hover{
    font-size: 25px;
    color:whitesmoke;
    transition: 1s linear;
    cursor: pointer;
      
  }